/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Basic page styling */
body {
    font-family: cursive;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    margin-top: 20px;
}

details[open] summary {
    color: #007BFF; /* Highlight color when open */
}
details p {
    padding-left: 10px;
    border-left: 2px solid #007BFF;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9em;
    color: #777;
}

/* Button style */
button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
